html 
    head  
        link(rel="stylesheet" href="style.css")
    body
        .box  
            .top    
                .tag 
                    .cirbutton 
            .bottom         
                h2.title 410730260 林郁倫
                ul 
                    h4 系級：教科2B
                    h4 生日：2002年11月28日
                    h4 社團：新北市校友會、插花社